.container {
  margin: 120px 128px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  gap: 20px;
  /* background-color: red; */
} 

.container > *{
    display: inline-block;
}

@media (max-width: 1280px) {
}

@media (max-width: 728px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 64px;
  }
}

@media (max-width: 620px) {
  .container {
    margin-top: 32px;
  }
}
