.click_button {
  background: none;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 200ms ease-in-out;
  border: 2px inset var(--gradient-start);
  padding: 0.15em 1em;
  border-radius: 2em;
}

.click_button:hover {
  border: 2px outset var(--gradient-end);
  color: var(--gradient-start);
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
