.solar_system_wrapper {
  position: absolute;
  top: 80px;
  right: -33vw;
  height: 100vh;
  width: 100vw;
  scale: 1;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.solar_syst {
  display: flex;
  background: radial-gradient(
    circle,
    rgba(48, 48, 48, 0.3) 0%,
    rgba(1, 1, 1, 0) 15%
  );
  width: 100%;
  height: 100%;
  position: relative;
  position: relative;
}

.solar_syst div {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}

/* .solar_syst div:not(.sun) {
  border: 2px solid rgba(102, 166, 229, 0.1);
} */

.solar_syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

.solar_syst div:not(.sun):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b200 39%,
    #e06317 100%
  );
  height: var(--sun-size);
  width: var(--sun-size);
  margin-top: calc(-0.5 * var(--sun-size));
  margin-left: calc(-0.5 * var(--sun-size));
  background-position: -28px -108px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: var(--mercury-orbit-size);
  width: var(--mercury-orbit-size);
  margin-top: calc(-0.5 * var(--mercury-orbit-size));
  margin-left: calc(-0.5 * var(--mercury-orbit-size));
  --start-rotation: 360deg;
  animation: orb calc(var(--year-in-second) * 0.2395) linear infinite;
}

.mercury:before {
  height: var(--mercury-size);
  width: var(--mercury-size);
  margin-top: calc(-0.5 * var(--mercury-size));
  margin-left: calc(-0.5 * var(--mercury-size));
  background: #b7b8b9;
}

.venus {
  height: var(--venus-orbit-size);
  width: var(--venus-orbit-size);
  margin-top: calc(-0.5 * var(--venus-orbit-size));
  margin-left: calc(-0.5 * var(--venus-orbit-size));
  --start-rotation: 45deg;
  animation: orb calc(var(--year-in-second) * 0.6152) linear infinite;
}

.venus:before {
  height: var(--venus-size);
  width: var(--venus-size);
  margin-top: calc(-0.5 * var(--venus-size));
  margin-left: calc(-0.5 * var(--venus-size));
  background: #ffc649;
}

.earth {
  height: var(--earth-orbit-size);
  width: var(--earth-orbit-size);
  margin-top: calc(-0.5 * var(--earth-orbit-size));
  margin-left: calc(-0.5 * var(--earth-orbit-size));
  --start-rotation: 300deg;
  animation: orb var(--year-in-second) linear infinite;
}

.earth:before {
  height: var(--earth-size);
  width: var(--earth-size);
  margin-top: calc(-0.5 * var(--earth-size));
  margin-left: calc(-0.5 * var(--earth-size));
  background: radial-gradient(
    circle at 40% 70%,
    #0a8f44,
    #11abe9 50%,
    #000080 90%
  );
}

.moon {
  height: var(--moon-orbit-size);
  width: var(--moon-orbit-size);
  margin-top: calc(-7.5 * var(--moon-orbit-size));
  margin-left: calc(-0.5 * var(--moon-orbit-size));
  --start-rotation: 30deg;
  animation: orb calc(var(--year-in-second) * 0.0748) linear infinite;
}

.moon:before {
  height: var(--moon-size);
  width: var(--moon-size);
  margin-top: calc(-0.5 * var(--moon-size));
  margin-left: calc(-0.5 * var(--moon-size));
  background: rgb(222, 218, 218);
}

.mars {
  height: var(--mars-orbit-size);
  width: var(--mars-orbit-size);
  margin-top: calc(-0.5 * var(--mars-orbit-size));
  margin-left: calc(-0.5 * var(--mars-orbit-size));
  --start-rotation: 160deg;
  animation: orb calc(var(--year-in-second) * 1.8808) linear infinite;
}

.mars:before {
  height: var(--mars-size);
  width: var(--mars-size);
  margin-top: calc(-0.5 * var(--mars-size));
  margin-left: calc(-0.5 * var(--mars-size));
  background: #964514;
}

.jupiter {
  height: var(--jupitor-orbit-size);
  width: var(--jupitor-orbit-size);
  margin-top: calc(-0.5 * var(--jupitor-orbit-size));
  margin-left: calc(-0.5 * var(--jupitor-orbit-size));
  --start-rotation: 20deg;
  animation: orb calc(var(--year-in-second) * 11.8618) linear infinite;
}

.jupiter:before {
  height: var(--jupitor-size);
  width: var(--jupitor-size);
  margin-top: calc(-0.5 * var(--jupitor-size));
  margin-left: calc(-0.5 * var(--jupitor-size));
  background: radial-gradient(ellipse at 80% 50% , #a77221bb 5%, #a59186a1 20%, #d8ca9d8d 70%, #e3dccb90 80%) top left no-repeat, radial-gradient(ellipse at 10% 30% , #a46302e8 5%, #a59186 20%, #d8ca9d 70%, #e3dccb 100%) top left no-repeat;
  --start-rotation: -200deg;
  animation: orb calc(var(--year-in-second) * 11.8618) linear infinite;
  animation-direction: reverse;
}

.saturn {
  height: var(--saturn-orbit-size);
  width: var(--saturn-orbit-size);
  margin-top: calc(-0.5 * var(--saturn-orbit-size));
  margin-left: calc(-0.5 * var(--saturn-orbit-size));
  --start-rotation: 235deg;
  animation: orb calc(var(--year-in-second) * 29.4285) linear infinite;
}

.saturn:before {
  height: var(--saturn-size);
  width: var(--saturn-size);
  margin-top: calc(-0.5 * var(--saturn-size));
  margin-left: calc(-0.5 * var(--saturn-size));
  background: #e7c194;
}

.saturn:after {
  position: absolute;
  content: "";
  height: calc(0.45 * var(--saturn-size));
  width: calc(1.4 * var(--saturn-size));
  left: calc(9.31 * var(--saturn-size));
  top: calc(-0.2 * var(--saturn-size));
  border-radius: 50%;
  box-shadow: 0 2px 0 1px #987641, 7px 1px 0 #987641, -7px 1px 0 #987641;
  --start-rotation: 115deg;
  animation: orb calc(var(--year-in-second) * 29.4285) linear infinite;
  animation-direction: reverse;
}

.uranus {
  height: var(--uranus-orbit-size);
  width: var(--uranus-orbit-size);
  margin-top: calc(-0.5 * var(--uranus-orbit-size));
  margin-left: calc(-0.5 * var(--uranus-orbit-size));
  --start-rotation: 330deg;
  animation: orb calc(var(--year-in-second) * 84.0205) linear infinite;
}

.uranus:before {
  height: var(--uranus-size);
  width: var(--uranus-size);
  margin-top: calc(-0.5 * var(--uranus-size));
  margin-left: calc(-0.5 * var(--uranus-size));
  background: #bdd6db;
}

.neptune {
  height: var(--neptune-orbit-size);
  width: var(--neptune-orbit-size);
  margin-top: calc(-0.5 * var(--neptune-orbit-size));
  margin-left: calc(-0.5 * var(--neptune-orbit-size));
  --start-rotation: 296deg;
  animation: orb calc(var(--year-in-second) * 164.7901) linear infinite;
}

.neptune:before {
  height: var(--neptune-size);
  width: var(--neptune-size);
  margin-top: calc(-0.5 * var(--neptune-size));
  margin-left: calc(-0.5 * var(--neptune-size));
  background: #2990b5;
}

@keyframes orb {
  from {
    transform: rotate(var(--start-rotation));
  }
  to {
    transform: rotate(calc(-360deg + var(--start-rotation)));
  }
}
