.member_wrapper {
    display: flex;
    height: 160px;
    width: 430px;
    min-width: fit-content;
    border-radius: 16px;
    background: var(--background);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.08);
    align-items: center;
}

.member_image {
    height: 98% !important;
    width: auto !important;
    border-radius: 16px !important;
    margin: 2px !important;
}

.member_details {
    height: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-variant: small-caps;
    text-align: center;
}

.name {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
}

.position {
    font-weight: 700;
    font-size: 0.75rem;
    opacity: 0.72;
}

.education {
    opacity: 0.72;
    font-size: 0.75rem;
}

.education * {
    margin: 0;
}

.details_wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.links_wrapper {
    position: absolute;
    inset: 0;
    left: -500%;
    transition: all 200ms ease-in-out;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-evenly;
}

.member_wrapper:hover .links_wrapper {
    left: 0;
    backdrop-filter: blur(4px);
    background: rgba(1, 0, 6, 0.52);
    border-radius: 16px;
    bottom: 0;
}
