.join_seds {
    margin: auto;
  margin-top: 120px;
  margin-bottom: 10px;
}

.application_form {
  position: static;
  margin: 10px auto;
  width: 70%;
  height: fit-content;
  z-index: -3;
}

.navbar {
  margin: 20px 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px #c5c4c4;
  display: inline-block;
  height: 1.75em;
  width: 99%;
  align-content: center;
  font-weight: bolder;
  font-variant: small-caps;
}

.navbar_button {
  margin: 0 auto;
  height: inherit;
  width: 50%;
}

.navbar_button_active {
  transition: 0.3s ease;
  background-color: var(--background);
  border-radius: 20px;
}

.form_outline {
  margin: 0 20px;
  text-align: justify;
  font-variant: normal;
}

.membership_form {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.form_section {
  min-width: 320px;
  width: fit-content;
  margin-bottom: 30px;
}

.form_section * {
    margin: 2px;
}

.form_section input:not([type="radio"]), .form_section textarea {
    border: none;
    border-bottom: 1px solid var(--input-border);
    background: none !important;
}

.form_section_text_area {
  min-width: 450px !important;
}

.select_dropdown{
    width: 50%;
    min-width: 200px;
}

.submit_button {
  margin: 10px auto;
  padding: 8px 16px;
  border: 2px solid var(--gradient-start);
  font-variant: small-caps;
  font-weight: 2em;
  border-radius: 32px;
  width: 70%;
  min-width: 100px;
}

.submit_button:hover {
  background: var(--gradient-start);
}


@media (max-width: 1024px) {
  .join_seds {
    margin-top: 100px;
  }

  .application_form {
    width: 80%;
  }
  .form_outline {
    margin: 0 10px;
  }
}

@media (max-width: 728px) {
  /* .application_form {
    width: 90%;
  } */
  /* .form_outline {
    margin: 0;
  } */
}

@media (max-width: 620px) {
  .join_seds {
    margin-left: 0;
    margin-top: 100px;
  }
  .application_form {
    width: 90%;
  }
  .form_outline {
    margin: 0;
  }
}
