.navbar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0;
  max-height: 128px;
  max-width: 100vw;
}

.navbar_border {
    background: linear-gradient(
      96.4deg,
      var(--gradient-start) 41.12%,
      var(--gradient-end) 96.81%
    )  !important;
    padding: 2px;
    border-radius: 64px;
    width: 80vw;
    height: 4em;
    margin: 12px auto;
}

.navbar {
  display: flex;
  gap: 10px;
  padding: 20px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-radius: 64px;
  max-height: 100%;
  max-width: 100%;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

.logo_text {
  font-size: 1.25rem;
  font-weight: 700;
  font-variant: small-caps;
  margin-top: 6px;
}

.logo_image {
    height: 40px;
    width: auto;
}

.navbar_large {
    margin-top: 14px;
  padding: 8px 0px;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
  font-size: 1rem;
}

.navbar_item {
  font-variant: small-caps;
  font-weight: 600;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: text-shadow 100ms ease-in-out;
}

/* .link .navbar_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    height: 0px;
} */

/* .link:hover .navbar_circle {
    scale: 1;
} */

.link:hover {
  text-shadow: 1px 1px 1px #fff;
}

.join_us {
  padding: 2px 8px;
  font-weight: 700;
  font-variant: small-caps;
  /* TODO: gradient doesn't work with border-radius */
  border: 2px outset var(--gradient-start);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 200ms ease-in-out;
}

.star {
  font-size: 4px;
  opacity: 0;
  transition: opacity 200ms ease-in-out, scale 200ms ease-in-out;
  scale: 0;
}

.join_us:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.join_us:hover > .star {
  opacity: 100;
  scale: 1;
}

.hamburger {
  display: none;
  margin-right: 40px;
  margin-top: 8px;
  align-items: center;
}

.hamburger_btn {
  height: 1.8rem;
}

.sidenav_wrapper {
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  overflow-x: hidden;
  visibility: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--background);
  opacity: 0.5;
}

.sidenav_wrapper_shown {
  width: 100%;
  visibility: visible;
}

.sidenav {
  background-color: var(--background);
  margin-left: auto;
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 24px;
  transition: all 100ms ease-in-out;
}

.sidenav_wrapper_shown .sidenav {
  width: 50%;
}

.sidenav_close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
}

@media (max-width: 1024px) {
  .logo_text {
    display: none;
  }

  .navbar_large {
    gap: 3vw;
  }
}

@media (max-width: 728px) {
  .logo_text {
    display: block;
  }

  .navbar_large {
    display: none;
  }

  .hamburger {
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }

}

@media (max-width: 640px) {
  .navbar {
    width: 90vw;
  }

  .sidenav_wrapper_shown .sidenav {
    width: 100%;
  }

  .logo_text {
    font-size: 1.25rem;
  }

  .hamburger_btn {
    height: 1.5rem;
    margin-top: 2px;
  }
}

@media (max-width: 480px) {
  .hamburger{
  margin-right: 10px;
  }
}