/* .solar_system {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    --orbit-size: 4px;
    --sun-diameter: 139px;
    --revolution-scale: 960ms;
    z-index: -2;
}

.sunlight {
    position: absolute;
    inset: -1240px; 
    border-radius: 100%;
    background: rgba(255, 213, 46, 0.1);
    filter: blur(512px);
}

.sun {
    position: absolute;
    background-color: white;
    height: var(--sun-diameter);
    width: var(--sun-diameter);
    border-radius: 100%;
}

.sun::before {
    content: "";
    position: absolute;
    background-color: white;
    inset: 0;
    filter: blur(64px);
}

.planet_wrapper {
    position: absolute;
    height: calc(var(--orbit-radius) * 2);
    width: calc(var(--orbit-radius) * 2);
    transform: rotate(var(--initial-angle));
}

.orbit::before {
    content: "";
    position: absolute;
    inset: calc(0px - var(--orbit-size));
    padding: var(--orbit-size);
    background: linear-gradient(to right, white, var(--background) 10%);
    border-radius: 100%;
    mask: linear-gradient(to right, white, var(--background) 10%) content-box,
        linear-gradient(to right, white, var(--background) 10%);
    mask-composite: exclude;
}

.orbit {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.planet {
    position: absolute;
    top: calc(var(--orbit-radius) - var(--diameter) / 2);
    left: calc(0px - var(--diameter) / 2);
    height: var(--diameter);
    width: var(--diameter);
    background: var(--color);
    border-radius: 100%;
}


.mercury {
    --orbit-radius: 221px;
    --diameter: 24px;
    --color: #acacac;
    --revolution-days: 87.97;
    --initial-angle: 25deg;
}

.venus {
    --orbit-radius: 432px;
    --diameter: 40px;
    --color: linear-gradient(234deg, #f60 -63.19%, #c0f 228.91%);
    --revolution-days: 224.7;
    --initial-angle: -22deg;
}

.earth {
    --orbit-radius: 740px;
    --diameter: 48px;
    --color: linear-gradient(134deg, #00ee5f -36.84%, #0009e9 150.26%);
    --revolution-days: 365.26;
    --initial-angle: 13deg;
}

.mars {
    --orbit-radius: 980px;
    --diameter: 32px;
    --color: linear-gradient(
        120deg,
        #d11 -110.91%,
        #ffe064 191.15%,
        rgba(221, 17, 17, 0) 191.18%
    );
    --revolution-days: 686.68;
    --initial-angle: -60deg;
}

.jupiter {
    --orbit-radius: 1240px;
    --diameter: 72px;
    --color: linear-gradient(134deg, #583131 -36.84%, #cf3c3c 150.26%);
    --revolution-days: 4331.98;
    --initial-angle: -4deg;
}

@keyframes revolution {
    to {
        transform: rotate(1turn);
    }
}

@media not (prefers-reduced-motion) {
    .planet_wrapper {
        animation: revolution
            calc(var(--revolution-scale) * var(--revolution-days)) linear
            infinite;
    }
} */

.solar_system_wrapper {
  position: absolute;
  top: 100px;
  right: -33vw;
  height: 100vh;
  width: 100vw;
  scale: 1;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.solar_syst {
  display: flex;
  background: radial-gradient(
    circle,
    rgba(48, 48, 48, 0.4) 0%,
    rgba(1, 1, 1, 0) 55%
  );
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1.03);
  position: relative;
}

.solar_syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: stars(500, 1800);
  border-radius: 100px;
}

.solar_syst div {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}

/* .solar_syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.1);
} */

.solar_syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

.solar_syst div:not(.sun):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b200 39%,
    #e06317 100%
  );
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background-position: -28px -108px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 90px;
  width: 90px;
  margin-top: -45px;
  margin-left: -45px;
  --start-rotation: 360deg;
  animation: orb calc(var(--year-in-second) * 0.2395) linear infinite;
}

.mercury:before {
  height: 6px;
  width: 6px;
  background: #9f5e26;
  margin-top: -3px;
  margin-left: -3px;
}

.venus {
  height: 130px;
  width: 130px;
  margin-top: -65.5px;
  margin-left: -65.5px;
  --start-rotation: 45deg;
  animation: orb calc(var(--year-in-second) * 0.6152) linear infinite;
}

.venus:before {
  height: 12px;
  width: 12px;
  background: #beb768;
  margin-top: -6px;
  margin-left: -6px;
}

.earth {
  height: 186px;
  width: 186px;
  margin-top: -93px;
  margin-left: -93px;
  --start-rotation: 300deg;
  animation: orb var(--year-in-second) linear infinite;
}

.earth:before {
  height: 9px;
  width: 9px;
  margin-top: -6px;
  margin-left: -6px;
  background: radial-gradient(circle at 40% 70%, #0a8f44, #11abe9 50%, #000080 90%);
}

.moon {
  height: 18px;
  width: 18px;
  margin-top: -104px;
  margin-left: -10px;
  --start-rotation: 30deg;
  animation: orb calc(var(--year-in-second) * 0.0748) linear infinite;
}

.moon:before {
  height: 4px;
  width: 4px;
  margin-top: -2px;
  margin-left: -2px;
  background: rgb(222, 218, 218);
}

.mars {
  height: 243px;
  width: 243px;
  margin-top: -121.5px;
  margin-left: -121.5px;
  --start-rotation: 160deg;
  animation: orb calc(var(--year-in-second) * 1.8808) linear infinite;
}

.mars:before {
  height: 9px;
  width: 9px;
  background: #cf3921;
  margin-top: -4.5px;
  margin-left: -4.5px;
}

.jupiter {
  height: 350px;
  width: 350px;
  margin-top: -175px;
  margin-left: -175px;
  --start-rotation: 180deg;
  animation: orb calc(var(--year-in-second) * 11.8618) linear infinite;
}

.jupiter:before {
  height: 27px;
  width: 27px;
  background: #c76e2a;
  margin-top: -13px;
  margin-left: -13px;
}

.saturn {
  height: 452px;
  width: 452px;
  margin-top: -226px;
  margin-left: -226px;
  --start-rotation: 20deg;
  animation: orb calc(var(--year-in-second) * 29.4285) linear infinite;
}

.saturn:before {
  height: 18px;
  width: 18px;
  background: #e7c194;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn:after {
  position: absolute;
  content: "";
  height: 2.54%;
  width: 5.12%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-90deg);
  margin-left: -2.7%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  --start-rotation: 0deg;
  animation: orb calc(var(--year-in-second) * 29.4285) linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.uranus {
  height: 534px;
  width: 534px;
  margin-top: -267px;
  margin-left: -267px;
  --start-rotation: 320deg;
  animation: orb calc(var(--year-in-second) * 84.0205) linear infinite;
}

.uranus:before {
  height: 15px;
  width: 15px;
  background: #b5e3e3;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

.neptune {
  height: 648px;
  width: 648px;
  margin-top: -324px;
  margin-left: -324px;
  --start-rotation: 0deg;
  animation: orb calc(var(--year-in-second) * 164.7901) linear infinite;
}

.neptune:before {
  height: 15px;
  width: 15px;
  background: #175e9e;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

@keyframes orb {
  from {
    transform: rotate(var(--start-rotation));
  }
  to {
    transform: rotate(calc(-360deg + var(--start-rotation)));
  }
}
