.hero_banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/hero_background.png");
  background-size: contain;
  background-position: center;
  z-index: -2;
  mask-image: radial-gradient(ellipse at center, black 30%, transparent 90%);
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 30%,
    transparent 90%
  );
}

.section {
  margin: auto;
  margin-left: 64px;
  text-align: justify;
}

.programs_section {
  margin-right: 64px;
}

.main_text_wrapper {
  max-width: 55vw;
}

.main_header {
  width: fit-content;
  font-weight: 600;
  text-align: left;
}

.main_question {
  font-size: 3rem !important;
}

.main_answer {
  padding: 10px 0;
  font-size: 4rem !important;
  margin-top: -25px;
}

.main_text {
  margin-bottom: 32px;
}

.about_section {
  margin: 32px 10px 50px 50px;
}

.about_header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 64px;
}

.about_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 32px;
}

.about_image {
  max-width: 100%;
  height: auto;
  border-radius: 32px 0px 0px 32px;
}

.paragraph_style {
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.programs_section_inner {
  position: relative;
}

.programs_section_background {
  position: absolute;
  background: linear-gradient(
    185deg,
    rgba(133, 0, 255, 0.12) -17.15%,
    rgba(0, 71, 255, 0.12) 145.22%
  );
  z-index: -1;
  border-radius: 500%;
  inset: 30% -15%;
  filter: blur(256px);
}

.programs_header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 64px;
}

.program_buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 64px;
}

.program_button {
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  border: 2px solid white;
  border-radius: 32px;
  font-weight: 700;
  opacity: 0.56;
}

.active {
  border-color: var(--gradient-start);
  opacity: 1;
}

.program_items {
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-evenly;
  justify-content: space-evenly;
  gap: 22px;
  height: 100%;
}

@media (max-width: 1024px) {
  .main_header {
    font-size: 3rem;
  }

  .about_header,
  .programs_header {
    font-size: 2rem;
  }

  .about_content {
    grid-template-columns: 1fr;
  }

  .program_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px) {
  .section {
    margin-left: 32px;
  }

  .main_question {
    font-size: 1.9rem !important;
  }

  .main_answer {
    font-size: 2.8rem !important;
  }

  .programs_section,
  .about_section {
    margin-right: 32px;
  }

  .main_header {
    font-size: 2.5rem;
  }

  .about_header,
  .programs_header {
    margin-bottom: 32px;
  }

  .about_image {
    border-radius: 8px;
  }

  .program_items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 420px) {
  .section {
    margin-left: 12px;
    margin-right: 12px;
  }

  .main_text_wrapper {
    max-width: 65vw;
  }

  .main_question {
    font-size: 1.6rem !important;
  }

  .main_answer {
    padding: 5px 0;
    font-size: 2.15rem !important;
  }

  .program_button {
    transform: scale(0.8);
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 550;
  }
}

@media (max-width: 378px) {
  .main_question {
    font-size: 1.4rem !important;
  }

  .main_answer {
    font-size: 1.8rem !important;
  }
}
